* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*lo uso en el cuerpo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gwendolyn:wght@700&family=M+PLUS+1+Code&family=Oswald&display=swap');

body {
	font-weight: 300;
    background-image: url(https://image.freepik.com/vector-gratis/fondo-abstracto-azul-formas-geometricas_1035-17545.jpg);
	background-repeat: no-repeat;
	background-size: cover;


}
.rotate-center {
	animation: rotate-center 0.6s ease-in-out both;
}
 @keyframes rotate-center {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  #rotate-90-cw {
	animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes rotate-90-cw {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(90deg);
	}
  }
  .mioHeaderSlogan{
	  margin-left: 19rem;
  }
  
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	aside'
		'footer	 		footer 		footer';
}


/* ---------- HEADER ----------*/
.mioHeader{
}
.mioNav{
	padding: 30p;
}
/* ---------- Redes Lateral ----------*/
.fab {
	width: 20px;
	text-align: left;
	font-size: 24px;
}

.social {
	position: fixed;
	left: 1px;
	top: 150px;
}

.social ul {
	list-style: none;
}

.social a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 15px 30px;
	z-index: 0;
	transition: 0.1s ease;
}

.fa-facebook-f {
	background: #3b5998;
}

.fa-twitter {
	background: #00abf0;
}

.fa-get-pocket {
	background: #ae181f;
}

.fa-facebook-messenger {
	background: #0084ff;
}

.fa-whatsapp {
	background: #25d366;
}

.fa-google-plus-g {
	background: #d95232;
}

.social a:hover {
	padding: 10px 25px;
}




/* ---------- Articulos ----------*/
.fontFront{
	font-family: 'Bebas Neue', cursive;
}
.articulo {
	display: flex;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	font-family: 'M PLUS 1 Code', sans-serif;
}

.articulo .contenedor-texto {
	padding: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.articulo .contenedor-thumbnail {
	width: 50%;
}

.articulo .titulo {
	margin-bottom: 10px;
	font-size: 25px;
}

.articulo .titulo a {
	font-weight: 400;
	color: #000;
}

.articulo .fecha {
	font-size: 16px;
	color: #868b8d;
	margin-bottom: 10px;
}

.articulo .extracto {
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #868b8d;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
	grid-area: destacado;
	color: white;
	background-color: #000;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	font-family: 'M PLUS 1 Code', sans-serif;
	display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
	min-height: 100%;
	width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.destacado .titulo a {
	color: #fff;
}

.destacado .titulo::after {
	content: '';
	margin: 0.625em 0;
	display: block;
	background-color: #868686;
	width: 6em;
	height: 1px;
}

.btn-link {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em;
	background-color: #262626;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
}

.btn-link:hover {
	background: #000;
	text-decoration: none;
}

/*---------- CONTENIDO ----------*/
.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 20px;
}

/*---------- SIDEBAR ----------*/
.sidebar {
	padding: 5em 25px;
	text-align: center;
	min-height: 100px;
	grid-area: aside;
	background: #000;
	color: #868b8d;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
	border-radius: 100%;
	height: 10em;
	width: 10em;
	margin-bottom: 25px;
}

.sidebar .bio {
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 25px;
}

.sidebar .menu {
	width: 100%;
	display: inline-block;
	background: #ccc;
}

.sidebar .menu a {
	padding: 25px;
	color: #fff;
	background-color: #000;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
}

.sidebar .menu a:hover {
	background: #262626;
}

/*---------- FOOTER ----------*/
.contenedor .footer {
	background: #fff;
	font-size: 20px;
	grid-area: footer;
	padding: 25px;
	text-align: right;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

}

/*---------- CONTACTO ----------*/
.bodyContact {

	color: #fff;
	line-height: 1.6;
	padding: 0 1.5em;
}

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
}

ul {
	list-style: none;
	padding: 0;
}


.logo {
	text-align: center;
	font-size: 3em;
}


.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
	padding: 1em;
}

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
}

ul {
	list-style: none;
	padding: 0;
}

#logoMio {
	width: 16%;

}

.logo {
	text-align: center;
	font-size: 3em;
}

#logoBrain {
	width: 5%;
	height: 60%;
}

.logo span {
	color: #0eacb7;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
	padding: 1em;
}

.contact-form {
	background: #222222;
}

.contact-form form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-form form label {
	display: block;
}

.contact-form form p {
	margin: 0;
	padding: 1em;
}

.contact-form form .block {
	grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
	width: 100%;
	padding: .7em;
	border: none;
	background: none;
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #0ea6b7;
}
.contact-form form button {
	background: #0ea6b7;
	border: 0;
	text-transform: uppercase;
	padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
	background: #083d43;
	color: #fff;
	transition: background-color 1s ease-out;
	outline: 0;
}

/* CONTACT INFO */
.contact-info {
	background: #04727e;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
	text-align: center;
	margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
	body {
		padding: 0 4em;
	}

	.contact-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.contact-wrapper>* {
		padding: 2em;
	}

	.contact-info h4,
	.contact-info ul,
	.contact-info p {
		text-align: left;
	}
}
/*---------- ACERCADE ----------*/

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}
#logoMio{
    width: 10%;

}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #0eacb7;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }
  @media screen and (min-width: 800px) {
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(700px, 3fr);
    }
  
    nav {
      
      display: flex;
      grid-column: 3/4;
      justify-content: flex-end;
      align-items: center;
    }
  
    nav ul {
      all: unset;
      list-style: none;
      display: flex;
      
    }
  
    nav li {
      margin-bottom: 0;
      margin-right: 16px;
      
    }
  
    nav a {
      opacity: 1;
    }
  
  }
@media(min-width:520px){
   .banner h1{
       font-size: 30px;
   }
   .grid{
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(2,1fr);
   }
   .team .team__grid {
    grid-template-columns: repeat(2,1fr);
   }
   .info .contenedor{
    grid-template-columns: repeat(3,150px);
    justify-content: space-around;
   }
   .banner2 h1{
       font-size: 50px;
   }
   .banner2 p{
       font-size: 25px;
   }
   .contenedor__coloreo{
       color: #6bc1c7;
       font-size: 32px;
   }
   .coloreoTeam{
    color: #6bc1c7;
    font-size: 16px;

   }
   


@media(min-width:728px){

    .team .team__grid{
        grid-template-columns: repeat(4,195px);
        justify-content: space-around;
    }
}
@media(min-width:1024px){
   .contenedor{
       width: 1000px;
   }
   .banner h1{
       font-size: 45px;
  
	}   
.grid{
grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
grid-auto-flow: dense;
grid-auto-rows: 160px;
}
.header {
    color: #36A0FF;
    font-size: 60px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  @media (min-width: 992px) {
	.rounded-lg-3 { border-radius: .3rem; }
  }
  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }